.logoHouse, .bicepLeft, .bicepRight {
    width: 100px;
    height: 100px;
}

.logoHouseLogin {
    position: absolute;
}

.bicepLeftLogin {
    position: absolute;
    animation: logo-flex infinite 4s ease-in-out;
}

.bicepRightLogin {
    position: absolute;
    animation: logo-flex-reverse infinite 4s ease-in-out;
}

.textColor {
    color: white;
}

/* use this animation for the left-bicep (right arm on screen) */
@keyframes logo-flex {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0degs);
    }
}

/* use this animation for the right-bicep (left arm on screen) */
@keyframes logo-flex-reverse {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0degs);
    }
}