.cardButtons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cardButtons div {
    
    text-align: center;
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 18px;
    padding: 15px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}

.clicked {
    background: #4d4d4d;
    color: white;
}

.notClicked {
    background: #1c1c1e;
    color: white;
}