.navbar-custom {
    background-color: #1a1a1a;
    border-bottom: 1px solid rgb(54, 53, 53);
}

.profilePic {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0;
    padding: -10px 0;
}

.nameColor {
    color: gray ;
    font-weight: 500;
}

.logoHouse, .bicepLeft, .bicepRight {
    width: 100px;
    height: 100px;
    margin: -24px 0 -12px 0;
}

.logoHouse {
    position: relative;
}

.bicepLeft {
    position: absolute;
    left: 16px;
    animation: logo-flex infinite 4s linear;
}

.bicepRight {
    position: absolute;
    left: 16px;
    animation: logo-flex-reverse infinite 4s ease-out;
}

/* use this animation for the left-bicep (right arm on screen) */
@keyframes logo-flex {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-7deg);
    }
    100% {
        transform: rotate(0degs);
    }
}

/* use this animation for the right-bicep (left arm on screen) */
@keyframes logo-flex-reverse {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0degs);
    }
}